# APP
BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
API_URL="http://localhost:3001"

# BETTER AUTH
BETTER_AUTH_SECRET="" # Generate a random secret using `openssl rand -base64 32`
BETTER_AUTH_URL="http://localhost:3000"

# DATABASE
DATABASE_URL=""

# RESEND EMAIL SERVICE
RESEND_API_KEY=""
EMAIL_SENDER_NAME="Inflow"
EMAIL_SENDER_ADDRESS="onboarding@resend.dev"

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# UPSTASH REDIS
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""