# APP
BASE_URL="https://your-app.com"
NEXT_PUBLIC_APP_URL="https://your-app.com"
API_URL="https://your-app.com"

# BETTER AUTH
BETTER_AUTH_SECRET="your-better-auth-secret"
BETTER_AUTH_URL="https://your-app.com"

# DATABASE
DATABASE_URL="postgresql://db_owner:db_password@ep-example-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"

# GOOGLE OAUTH
GOOGLE_CLIENT_ID="000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# UPSTASH REDIS
UPSTASH_REDIS_REST_URL="https://your-redis-instance.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-upstash-redis-rest-token"

# FEATURE FLAGS
NEXT_PUBLIC_ENABLE_MULTI_SITE_DASHBOARD="false"
NEXT_PUBLIC_ENABLE_FLOW="true"

# MAILERSEND
MAILERSEND_TEST_TOKEN="mlsn.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MAILERSEND_SENDER_EMAIL="your-sender-subdomain.mlsender.net"
MAILERSEND_SENDER_NAME="Your App Support"