# APP
BASE_URL="http://localhost:3000"

# BETTER AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# DATABASE
DATABASE_URL=""

# RESEND EMAIL SERVICE
RESEND_API_KEY=""
EMAIL_SENDER_NAME="Inflow"
EMAIL_SENDER_ADDRESS="onboarding@resend.dev"

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""